[Unit]
Description=RGPIO HTTP server written in Rust
After=network.target

[Service]
ExecStart=/srv/http/rgpio/rgpio
Restart=always
User=net-user

[Install]
WantedBy=multi-user.target